.player_wrapper {
   width: 420px;
   border: 1px solid transparent;
   display: -ms-grid;
   display: grid;
   grid: repeat(8, minmax(30px, auto)) / repeat(3, 1fr);
   margin: auto;
   padding: 20px;
   border-radius: 15px;
   box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
